* {
    margin: 20px;
    padding: 80;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    text-align: center;

}
p{
    text-align: center;
}
div{
    text-align: center;
}

body {
    background: #ecf1f3;
}

.container {
    width: 80%;
    margin:20px;
}

/* Header */
.header {
    text-align: center;
    padding: 30px;
}

.header img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: right bottom;
}

.subtitle {
    font-weight: bold;
    color: #555;
}

.tagline {
    color: #777;
}

/* Navigation */
.nav {
    background: #2f6fed;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}

.nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
    padding:12px 18px;
    display: inline-block;
    border-radius: 20px;
}

.nav a:hover {
    text-decoration: underline;
}

/* Cards */
.card {
    background: rgb(225, 222, 222);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

/* Section colors */
.about { background: #fff3e0; }
.skills { background: #e3f2fd; }
.projects { background: #fce4ec; }
.education { background: #ede7f6; }
.certifications { background: #e8f5e9; }
.contact { background: #fff8e1; }

.card h2 {
    margin-bottom: 10px;
}

.card ul {
    margin-left: 20px;
}

/* Footer */
footer {
    background: #2f6fed;
    color: white;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
}